<ion-header>
  <ion-toolbar>
    <ion-title>Authenticate Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid fixed>
  <ion-row>
    <ion-col size="6" offset="3">
      <ion-card style="margin-top: 50%;">
        <ion-card-header>
  
          <ion-segment (ionChange)="segmentChanged($event)" value="login">
            <ion-segment-button value="login">
              <ion-label>Login</ion-label>
            </ion-segment-button>
            <ion-segment-button value="register">
              <ion-label>Register</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-card-header>
        <ion-card-content>
         
           <div *ngIf="segmentValue === 'login'">
            <ion-item>
              <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
              <ion-input [(ngModel)]="email"  required  type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label   position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
              <ion-input [(ngModel)]="password" required  type="text"></ion-input>
            </ion-item>
            <ion-button  color="primary" size="large" (click)="login()" >
              Login
            </ion-button>
           </div>

           <div *ngIf="segmentValue === 'register'">
           
            <ion-item>
              <ion-label   position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
              <ion-input [(ngModel)]="email" required  type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label  position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
              <ion-input  [(ngModel)]="password" required  type="text"></ion-input>
            </ion-item>
            <ion-button  color="primary" size="large" (click)="register()" >
              Register
            </ion-button>
           </div>
       
          
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
